<a href="https://colab.research.google.com/github/Siri2191/Cup_2022/blob/main/Derterminar_prob_gols_com_possion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aplicação da Distribuição Poisson

---

A ideia é usar a distribuição de poisson para determinar as probabilidades de possiveias resultados em partidas da copa do mundo de 2022.


O dataset utilizado esta disponivel no [Kaggle](https://www.kaggle.com/datasets/brenda89/fifa-world-cup-2022).

## leitura dos dados:
---

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
path = '/content/drive/MyDrive/cup/international_matches.csv'
df = pd.read_csv(path)

In [3]:
df.head()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Editando os dados:
---

In [4]:
df.columns

Index(['date', 'home_team', 'away_team', 'home_team_continent',
       'away_team_continent', 'home_team_fifa_rank', 'away_team_fifa_rank',
       'home_team_total_fifa_points', 'away_team_total_fifa_points',
       'home_team_score', 'away_team_score', 'tournament', 'city', 'country',
       'neutral_location', 'shoot_out', 'home_team_result',
       'home_team_goalkeeper_score', 'away_team_goalkeeper_score',
       'home_team_mean_defense_score', 'home_team_mean_offense_score',
       'home_team_mean_midfield_score', 'away_team_mean_defense_score',
       'away_team_mean_offense_score', 'away_team_mean_midfield_score'],
      dtype='object')

In [5]:
rename = {
    'date' : 'data',
    'home_team':'time_casa',
    'away_team' :'time_visitante',
    'home_team_continent' : 'continente_casa',
    'away_team_continent':'continente_visitante',
       'home_team_fifa_rank':'rank_time_casa',
      'away_team_fifa_rank':'rank_time_visitante', 
      'home_team_total_fifa_points' : 'pt_fifa_casa', 
      'away_team_total_fifa_points':'pt_fifa_visitante',
       'home_team_score': 'placar_casa', 
       'away_team_score' :'placar_visitante',
        'tournament' : 'torneio', 'city':'cidade_confronto',
         'country':'pais_confronto',
       'neutral_location':'local_neutro', 
       'shoot_out':'chutes', 'home_team_result' : 'resultado_time_casa',
       'home_team_goalkeeper_score' :'pt_goleiro_casa', 'away_team_goalkeeper_score':'pt_goleiro_visitante',
       'home_team_mean_defense_score' :'pt_defesa_casa', 'home_team_mean_offense_score' :'pt_ataque_casa',
       'home_team_mean_midfield_score':'pt_meio_casa', 'away_team_mean_defense_score':'pt_defesa_visitante',
       'away_team_mean_offense_score':'pt_ataque_visitante', 'away_team_mean_midfield_score' : 'pt_meio_visitante'
}

In [6]:
df.rename(columns=rename, inplace=True)
df.head(20)

,data,time_casa,time_visitante,continente_casa,continente_visitante,rank_time_casa,rank_time_visitante,pt_fifa_casa,pt_fifa_visitante,placar_casa,...,chutes,resultado_time_casa,pt_goleiro_casa,pt_goleiro_visitante,pt_defesa_casa,pt_ataque_casa,pt_meio_casa,pt_defesa_visitante,pt_ataque_visitante,pt_meio_visitante
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1993-08-08,Peru,Colombia,South America,South America,70,19,0,0,0,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1993-08-08,Zimbabwe,Eswatini,Africa,Africa,50,102,0,0,2,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1993-08-09,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,4,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1993-08-11,Faroe Islands,Norway,Europe,Europe,111,9,0,0,0,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1993-08-11,Sweden,Switzerland,Europe,Europe,4,3,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1993-08-15,Australia,Canada,Oceania,North America,52,46,0,0,2,...,Yes,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1993-08-15,Bolivia,Ecuador,South America,South America,59,35,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1993-08-15,Colombia,Argentina,South America,South America,19,5,0,0,2,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1993-08-15,Congo,Guinea,Africa,Africa,107,65,0,0,0,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1993-08-15,Uruguay,Brazil,South America,South America,22,8,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1993-08-22,Argentina,Peru,South America,South America,5,70,0,0,2,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1993-08-22,Bolivia,Venezuela,South America,South America,59,94,0,0,7,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1993-08-22,Brazil,Ecuador,South America,South America,8,35,0,0,2,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1993-08-22,Paraguay,Colombia,South America,South America,67,19,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1993-08-22,Sweden,France,Europe,Europe,4,12,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df['time_casa'].unique()

array(['Bolivia', 'Brazil', 'Ecuador', 'Guinea', 'Paraguay', 'Peru',
       'Zimbabwe', 'Faroe Islands', 'Sweden', 'Australia', 'Colombia',
       'Congo', 'Uruguay', 'Argentina', 'Austria', 'Denmark', 'Iceland',
       'Estonia', 'Eswatini', 'Albania', 'Bulgaria', 'England', 'Finland',
       'Hungary', 'Republic of Ireland', 'Northern Ireland', 'Norway',
       'Scotland', 'Spain', 'Venezuela', 'Morocco', 'Saudi Arabia',
       'Mexico', 'Romania', 'San Marino', 'Tunisia', 'Korea Republic',
       'Nigeria', 'Zambia', 'Japan', 'Cyprus', 'Belgium', 'Algeria',
       'Cameroon', 'Luxembourg', 'France', 'Germany', 'Italy',
       'Netherlands', 'Poland', 'Portugal', 'USA', 'Wales', 'Korea DPR',
       'IR Iran', 'Iraq', 'Burundi', 'Liechtenstein',
       'United Arab Emirates', 'Israel', 'Turkey', 'Egypt', 'Gabon',
       'Greece', 'Malta', 'Switzerland', 'Gambia', 'Sierra Leone',
       'Guinea-Bissau', 'Senegal', 'Mali', 'Ghana', 'Tahiti', 'Kenya',
       'Tanzania', 'Bangladesh', 'Barbados', 'Mauritania', 'Thailand',
       'Costa Rica', 'Suriname', 'Grenada', 'Qatar', 'Burkina Faso',
       "Côte d'Ivoire", 'Oman', 'Slovenia', 'Malawi', 'Cayman Islands',
       'Dominican Republic', 'Angola', 'Trinidad and Tobago', 'Lithuania',
       'Slovakia', 'South Africa', 'Kuwait', 'El Salvador', 'Honduras',
       'Chile', 'Fiji', 'Czech Republic', 'Ukraine', 'Russia', 'Canada',
       'North Macedonia', 'Latvia', 'Croatia', 'Botswana',
       'Solomon Islands', 'Vanuatu', 'Armenia', 'Georgia', 'Myanmar',
       'Niger', 'Namibia', 'Ethiopia', 'Liberia', 'Madagascar', 'Sudan',
       'India', 'Malaysia', 'Belarus', 'Moldova', 'Uganda', 'Mozambique',
       'Togo', 'Bahrain', 'Lesotho', 'Azerbaijan', 'Jamaica', 'Vietnam',
       'Mauritius', 'China PR', 'Hong Kong', 'New Zealand', 'Nepal',
       'Pakistan', 'Lebanon', 'Sri Lanka', 'Syria', 'Guyana', 'St. Lucia',
       'St. Kitts and Nevis', 'Antigua and Barbuda', 'Cuba',
       'St. Vincent and the Grenadines', 'Indonesia', 'Uzbekistan',
       'Panama', 'Nicaragua', 'Cabo Verde', 'Dominica', 'Guatemala',
       'Yemen', 'Philippines', 'Kyrgyz Republic', 'Macau', 'Turkmenistan',
       'Aruba', 'Haiti', 'Tajikistan', 'Belize', 'Rwanda', 'Kazakhstan',
       'Maldives', 'Singapore', 'Benin', 'Jordan', 'Seychelles',
       'Cambodia', 'Laos', 'Brunei Darussalam',
       'Central African Republic', 'Bosnia and Herzegovina', 'Tonga',
       'Papua New Guinea', 'Libya', 'Andorra', 'Chad',
       'Equatorial Guinea', 'Cook Islands', 'Samoa',
       'British Virgin Islands', 'Bermuda', 'Eritrea', 'Somalia',
       'São Tomé and Príncipe', 'Congo DR', 'US Virgin Islands',
       'Anguilla', 'Puerto Rico', 'Bahamas', 'Montserrat', 'Palestine',
       'Djibouti', 'American Samoa', 'Mongolia', 'Bhutan', 'Guam',
       'Afghanistan', 'Turks and Caicos Islands', 'Serbia',
       'New Caledonia', 'Montenegro', 'Timor-Leste', 'Comoros',
       'Chinese Taipei', 'Curaçao', 'South Sudan', 'Kosovo', 'Gibraltar'],
      dtype=object)

## Salvando os dados editados para outros experimentos:
---

In [69]:

df.to_csv('/content/drive/MyDrive/cup/df_maches_edit.csv')

## Selecionando times dentro do banco:
---

In [8]:
name_a = ['Ecuador','Senegal','Netherlands','Qatar']
casa = df[df['time_casa']=='Ecuador']
fora = df[df['time_visitante']=='Ecuador']
ecuador = casa.merge(fora,how='outer')

ecuador

,data,time_casa,time_visitante,continente_casa,continente_visitante,rank_time_casa,rank_time_visitante,pt_fifa_casa,pt_fifa_visitante,placar_casa,...,chutes,resultado_time_casa,pt_goleiro_casa,pt_goleiro_visitante,pt_defesa_casa,pt_ataque_casa,pt_meio_casa,pt_defesa_visitante,pt_ataque_visitante,pt_meio_visitante
0,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-09-05,Ecuador,Uruguay,South America,South America,35,22,0,0,0,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-09-19,Ecuador,Bolivia,South America,South America,35,59,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1994-05-25,Ecuador,Argentina,South America,South America,47,6,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1994-06-05,Ecuador,Korea Republic,South America,Asia,47,37,0,0,2,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,2021-11-16,Chile,Ecuador,South America,South America,21,55,1546,1416,0,...,No,Lose,79.0,71.0,75.5,76.7,78.2,73.5,76.0,74.5
331,2021-12-04,El Salvador,Ecuador,North America,South America,69,46,1350,1448,1,...,No,Draw,61.0,71.0,NaN,NaN,NaN,73.5,76.0,74.5
332,2022-02-01,Peru,Ecuador,South America,South America,22,46,1551,1448,1,...,No,Draw,74.0,71.0,74.5,73.0,76.8,73.5,76.0,74.5
333,2022-03-24,Paraguay,Ecuador,South America,South America,50,44,1440,1458,3,...,No,Win,72.0,71.0,74.2,74.3,76.2,73.5,76.0,74.5
334,2022-06-05,Mexico,Ecuador,North America,South America,9,46,1658,1452,0,...,No,Draw,80.0,71.0,76.8,82.7,78.2,73.5,76.0,74.5

In [9]:
ecuador.columns

Index(['data', 'time_casa', 'time_visitante', 'continente_casa',
       'continente_visitante', 'rank_time_casa', 'rank_time_visitante',
       'pt_fifa_casa', 'pt_fifa_visitante', 'placar_casa', 'placar_visitante',
       'torneio', 'cidade_confronto', 'pais_confronto', 'local_neutro',
       'chutes', 'resultado_time_casa', 'pt_goleiro_casa',
       'pt_goleiro_visitante', 'pt_defesa_casa', 'pt_ataque_casa',
       'pt_meio_casa', 'pt_defesa_visitante', 'pt_ataque_visitante',
       'pt_meio_visitante'],
      dtype='object')

In [10]:
casa = ecuador.query("time_casa == 'Ecuador'")['placar_casa']
fora = ecuador.query("time_visitante == 'Ecuador'")['placar_visitante']
gols_ecuador = casa.append(fora)
len(gols_ecuador)

335

In [12]:
fora = ecuador.loc[ecuador['time_visitante']=='Ecuador']['placar_visitante']
fora

146    0
147    0
148    1
149    0
150    0
      ..
330    2
331    1
332    1
333    1
334    0
Name: placar_visitante, Length: 189, dtype: int64

## calculando probabilidade de gol de um time com poisson:
---

In [13]:
mean_ecuador = gols_ecuador.mean()
list_gols = [0,1,2,3,4,5,6,7,8]
list_prob_ecuador = []

from scipy.stats import poisson

for i in list_gols:
  prob = poisson.pmf(i,mean_ecuador)
  list_prob_ecuador.append(prob) 

list_prob_ecuador

[0.2713142293465099,
 0.3539233379833577,
 0.2308425353712348,
 0.1003763064251041,
 0.032734661125201854,
 0.008540326514455647,
 0.0018567774561279184,
 0.00034601780312490415,
 5.6421559688650454e-05]

## Fazendo o mesmo para outro time:
---

In [14]:
# selecionar partidas:

casa = df[df['time_casa']=='Qatar']
fora = df[df['time_visitante']=='Qatar']
catar = casa.merge(fora,how='outer')

# gols_marcados:

casa = catar.query("time_casa == 'Qatar'")['placar_casa']
fora = catar.query("time_visitante == 'Qatar'")['placar_visitante']
gols_catar = casa.append(fora)

# calcular probabilidades:

mean_catar = gols_catar.mean()
list_gols = [0,1,2,3,4,5,6,7,8]
list_prob_catar = []

for i in list_gols:
  prob = poisson.pmf(i,mean_catar)
  list_prob_catar.append(prob)

In [15]:
list_prob_catar

[0.22842594573191904,
 0.3372807791300928,
 0.2490048221232043,
 0.12255545977751123,
 0.04523960799194549,
 0.013359647199596755,
 0.0032876827264851256,
 0.0006934865151457155,
 0.00012799535063491905]

# juntando tudo em um script:
---

In [16]:
# selecionar time:

time_a ='Ecuador'
time_b ='Qatar'

# selecionar jogos:

# time_a :
casa_a = df[df['time_casa']== time_a]
fora_a = df[df['time_visitante']== time_a]
a = casa_a.merge(fora_a,how='outer')

#time_b:
casa_b = df[df['time_casa']== time_b]
fora_b = df[df['time_visitante']== time_b]
b = casa_b.merge(fora_b,how='outer')

# selecionar gols do jogos:

# time a:
casa_a= a.loc[a['time_casa'] == time_a ]['placar_casa']
fora_a = a.loc[a['time_visitante'] == time_a ]['placar_visitante']
gols_a = casa_a.append(fora_a)

# time b:
casa_b = b.loc[b['time_casa'] == time_b ]['placar_casa']
fora_b = b.loc[b['time_visitante'] == time_b ]['placar_visitante']
gols_b = casa_a.append(fora_b)

# calculo das probabilidade: 

mean_a = gols_a.mean()
mean_b = gols_b.mean()
list_gols = [0,1,2,3,4,5]
prob_a = []
prob_b = []

for i in list_gols:
  pb_a = poisson.pmf(i,mean_a)
  pb_b = poisson.pmf(i,mean_b) 
  prob_a.append(pb_a)
  prob_b.append(pb_b)

In [17]:

print(prob_a)
print(prob_b)

[0.2713142293465099, 0.3539233379833577, 0.2308425353712348, 0.1003763064251041, 0.032734661125201854, 0.008540326514455647]
[0.23840727354091426, 0.3418223491497214, 0.24504814102951888, 0.11711461927790473, 0.04197899846633506, 0.012037686315180854]

In [31]:
# selecionar time:

time_a = input()
time_b = input()

# tratando a entrada:
time_a = time_a.capitalize()
time_b = time_b.capitalize()

# selecionar jogos:

# time_a :
casa_a = df[df['time_casa']== time_a]
fora_a = df[df['time_visitante']== time_a]
a = casa_a.merge(fora_a,how='outer')

#time_b:
casa_b = df[df['time_casa']== time_b]
fora_b = df[df['time_visitante']== time_b]
b = casa_b.merge(fora_b,how='outer')

# selecionar gols do jogos:

# time a:
casa_a= a.loc[a['time_casa'] == time_a ]['placar_casa']
fora_a = a.loc[a['time_visitante'] == time_a ]['placar_visitante']
gols_a = casa_a.append(fora_a)

# time b:
casa_b = b.loc[b['time_casa'] == time_b ]['placar_casa']
fora_b = b.loc[b['time_visitante'] == time_b ]['placar_visitante']
gols_b = casa_a.append(fora_b)

# calculo das probabilidade: 

mean_a = gols_a.mean()
mean_b = gols_b.mean()
list_gols = [0,1,2,3,4,5]
prob_a = []
prob_b = []

for i in list_gols:
  pb_a = poisson.pmf(i,mean_a)
  pb_b = poisson.pmf(i,mean_b) 
  prob_a.append(pb_a)
  prob_b.append(pb_b)

ecuador
qatar

## Deternimando as probabilidades de cada possibilidade de resultado:
---

In [61]:


df_possibilidade = pd.DataFrame(columns = ['time_a',
                              'gol_a',
                              'gol_b',
                              'time_b',
                              'probabilidade' ])

for i in range(0,len(prob_a)):
  for j in range(0,len(prob_b)):
    #prob_partida.append(prob_a[i]*prob_b[j])
    #print('Pacar {} {} x {} {} = probabilidade {}'.format(time_a,i,j,time_b,prob_a[i]*prob_b[j]))  DEU ERRADO
    df_possibilidade = df_possibilidade.append({'time_a':time_a,
                              'gol_a': i,
                              'gol_b': j,
                              'time_b': time_b,
                              'probabilidade': prob_a[i]*prob_b[j] }, ignore_index =True)  # FUNCIONOU
    #df_possibilidade['time_a'] = time_a
    #df_possibilidade['gol_a'] = i
    #df_possibilidade['gol_b'] = j
    #df_possibilidade['time_b'] = time_b
    #df_possibilidade['probabilidade'] = prob_a[i]*prob_b[j]  DEU ERRADO

In [55]:
df_possibilidade.sort_values('probabilidade',ascending = False)

     time_a gol_a gol_b time_b  probabilidade
7   Ecuador     1     1  Qatar       0.120979
1   Ecuador     0     1  Qatar       0.092741
8   Ecuador     1     2  Qatar       0.086728
6   Ecuador     1     0  Qatar       0.084378
13  Ecuador     2     1  Qatar       0.078907
2   Ecuador     0     2  Qatar       0.066485
0   Ecuador     0     0  Qatar       0.064683
14  Ecuador     2     2  Qatar       0.056568
12  Ecuador     2     0  Qatar       0.055035
9   Ecuador     1     3  Qatar       0.041450
19  Ecuador     3     1  Qatar       0.034311
3   Ecuador     0     3  Qatar       0.031775
15  Ecuador     2     3  Qatar       0.027035
20  Ecuador     3     2  Qatar       0.024597
18  Ecuador     3     0  Qatar       0.023930
10  Ecuador     1     4  Qatar       0.014857
21  Ecuador     3     3  Qatar       0.011756
4   Ecuador     0     4  Qatar       0.011389
25  Ecuador     4     1  Qatar       0.011189
16  Ecuador     2     4  Qatar       0.009691
26  Ecuador     4     2  Qatar       0.008022
24  Ecuador     4     0  Qatar       0.007804
11  Ecuador     1     5  Qatar       0.004260
22  Ecuador     3     4  Qatar       0.004214
27  Ecuador     4     3  Qatar       0.003834
5   Ecuador     0     5  Qatar       0.003266
31  Ecuador     5     1  Qatar       0.002919
17  Ecuador     2     5  Qatar       0.002779
32  Ecuador     5     2  Qatar       0.002093
30  Ecuador     5     0  Qatar       0.002036
28  Ecuador     4     4  Qatar       0.001374
23  Ecuador     3     5  Qatar       0.001208
33  Ecuador     5     3  Qatar       0.001000
29  Ecuador     4     5  Qatar       0.000394
34  Ecuador     5     4  Qatar       0.000359
35  Ecuador     5     5  Qatar       0.000103

## Juntando em um Script:
---

In [73]:
# selecionar time:

time_a = input()
time_b = input()

# tratando a entrada:
time_a = time_a.capitalize()
time_b = time_b.capitalize()

# selecionar jogos:

# time_a :
casa_a = df[df['time_casa']== time_a]
fora_a = df[df['time_visitante']== time_a]
a = casa_a.merge(fora_a,how='outer')

#time_b:
casa_b = df[df['time_casa']== time_b]
fora_b = df[df['time_visitante']== time_b]
b = casa_b.merge(fora_b,how='outer')

# selecionar gols do jogos:

# time a:
casa_a= a.loc[a['time_casa'] == time_a ]['placar_casa']
fora_a = a.loc[a['time_visitante'] == time_a ]['placar_visitante']
gols_a = casa_a.append(fora_a)

# time b:
casa_b = b.loc[b['time_casa'] == time_b ]['placar_casa']
fora_b = b.loc[b['time_visitante'] == time_b ]['placar_visitante']
gols_b = casa_a.append(fora_b)

# calculo das probabilidade: 

mean_a = gols_a.mean()
mean_b = gols_b.mean()
list_gols = [0,1,2,3,4,5]
prob_a = []
prob_b = []

for i in list_gols:
  pb_a = poisson.pmf(i,mean_a)
  pb_b = poisson.pmf(i,mean_b) 
  prob_a.append(pb_a)
  prob_b.append(pb_b)

# probabilidades das possibilidades de placar: 
df_possibilidade = pd.DataFrame(columns = ['time_a',
                              'gol_a',
                              'gol_b',
                              'time_b',
                              'probabilidade_poisson' ])

for i in range(0,len(prob_a)):
  for j in range(0,len(prob_b)):
    df_possibilidade = df_possibilidade.append({'time_a':time_a,
                              'gol_a': i,
                              'gol_b': j,
                              'time_b': time_b,
                              'probabilidade_poisson': (prob_a[i]*prob_b[j])*100 }, ignore_index =True)

df_possibilidade.sort_values('probabilidade_poisson',ascending = False)

Germany
Qatar

     time_a gol_a gol_b time_b  probabilidade_poisson
13  Germany     2     1  Qatar               7.515088
14  Germany     2     2  Qatar               7.214485
7   Germany     1     1  Qatar               6.699164
8   Germany     1     2  Qatar               6.431198
19  Germany     3     1  Qatar               5.620258
20  Germany     3     2  Qatar               5.395448
15  Germany     2     3  Qatar               4.617270
9   Germany     1     3  Qatar               4.115966
12  Germany     2     0  Qatar               3.914108
6   Germany     1     0  Qatar               3.489148
21  Germany     3     3  Qatar               3.453087
25  Germany     4     1  Qatar               3.152388
26  Germany     4     2  Qatar               3.026293
1   Germany     0     1  Qatar               2.985913
18  Germany     3     0  Qatar               2.927218
2   Germany     0     2  Qatar               2.866477
16  Germany     2     4  Qatar               2.216290
10  Germany     1     4  Qatar               1.975664
27  Germany     4     3  Qatar               1.936827
3   Germany     0     3  Qatar               1.834545
22  Germany     3     4  Qatar               1.657482
24  Germany     4     0  Qatar               1.641869
0   Germany     0     0  Qatar               1.555163
31  Germany     5     1  Qatar               1.414533
32  Germany     5     2  Qatar               1.357952
28  Germany     4     4  Qatar               0.929677
4   Germany     0     4  Qatar               0.880582
33  Germany     5     3  Qatar               0.869089
17  Germany     2     5  Qatar               0.851055
11  Germany     1     5  Qatar               0.758655
30  Germany     5     0  Qatar               0.736736
23  Germany     3     5  Qatar               0.636473
34  Germany     5     4  Qatar               0.417163
29  Germany     4     5  Qatar               0.356996
5   Germany     0     5  Qatar               0.338143
35  Germany     5     5  Qatar               0.160191